<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.gersion.superlock"
        android:versionCode="1"
        android:versionName="1.0.0">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
            android:name=".app.SuperLockApplication"
            android:allowBackup="true"
            android:excludeFromRecents="true"
            android:icon="@mipmap/lock"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- =====================================Activity==================================== -->
        <!--
             MainActivity
                android:excludeFromRecents="true"
        -->
        <activity
                android:name=".activity.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- GuideActivity -->
        <activity
                android:name=".activity.GuideActivity"
                android:theme="@style/AppTheme.FullScreen"/>

        <!-- RegisterActivity -->
        <activity
                android:name=".activity.RegisterActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!-- LockActivity -->
        <activity
                android:name=".activity.LockActivity"
                android:screenOrientation="portrait"
                android:theme="@style/LockTheme"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!-- =====================================Receiver==================================== -->


        <!-- =====================================Service==================================== -->
        <activity
                android:name=".activity.AddPasswordActivity"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.DetailActivity"/>
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/title_activity_main2"
                android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".activity.GlobalSearchActivity"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="portrait"
                android:theme="@style/global_search_bg"
                android:windowSoftInputMode="stateUnspecified"/>

        <service android:name=".service.FloatBallService"/>

        <activity android:name=".activity.WebActivity">
        </activity>
        <activity android:name=".activity.DonationActivity">
        </activity>
        <activity android:name=".activity.SetSuperPasswordActivity">
        </activity>
        <activity android:name=".activity.ImportOldDataActivity">
        </activity>
        <activity android:name=".activity.BackupDataActivity">
        </activity>
        <activity android:name=".activity.CreatePasswordActivity">
        </activity>
        <activity android:name=".activity.SelectFileActivity">
        </activity>
        <activity android:name=".activity.SelectLockTypeActivity">
        </activity>
        <activity
                android:name=".activity.MenuActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AlertDialogUp"/>
        <activity android:name=".activity.PwdCreateActivity">
        </activity>
        <activity
                android:name=".share.SharePopup"
                android:screenOrientation="portrait"
                android:theme="@style/AlertDialogBottom"/>
        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105866139"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".activity.PasswordDetailActivity">
        </activity>
    </application>

</manifest>